$statusBarHeigth: 20px;
$defaultBorderColor: rgb(224, 224, 224);
$defaultBorderRadius: 0px;
$defaultBorderWidth: 1px;
$defaultMaskOpacity: 0.6;
$defaultRange: 10;
$defaultZindex: 999;
// flex 横向布局居中
@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-row-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
// flex 竖向布局居中
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-default {
  display: flex;
  align-items: center;
}

// absolute 定位居中
@mixin abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin ios-padding-top {
  padding-top: $statusBarHeigth;
  @supports (padding-top: constant(safe-area-inset-top)) {
    padding-top: constant(safe-area-inset-top);
  }
  @supports (padding-top: env(safe-area-inset-top)) {
    padding-top: env(safe-area-inset-top);
  }
}

@mixin ios-padding-bottom {
  //ios只有iphoneX才有底部距离
  @supports (padding-bottom: constant(safe-area-inset-bottom)) {
    padding-bottom: constant(safe-area-inset-bottom);
  }
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@mixin ios-fixed-bottom {
  //ios只有iphoneX才有底部距离
  @supports (padding-bottom: constant(safe-area-inset-top)) {
    bottom: constant(safe-area-inset-bottom);
  }
  @supports (padding-bottom: env(safe-area-inset-top)) {
    bottom: env(safe-area-inset-bottom);
  }
}

@mixin ios-fixed-top {
  top: $statusBarHeigth;
  @supports (padding-top: constant(safe-area-inset-top)) {
    top: constant(safe-area-inset-top);
  }
  @supports (padding-top: env(safe-area-inset-top)) {
    top: env(safe-area-inset-top);
  }
}

@mixin border-thin(
  $borderColor: $defaultBorderColor,
  $borderRadius: $defaultBorderRadius,
  $borderWidth: $defaultBorderWidth
) {
  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    border: $borderWidth solid $borderColor;
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
    left: 0;
    top: 0;
    border-radius: $borderRadius;
    pointer-events: none;
  }
}

@mixin border-bottom($borderColor: $defaultBorderColor) {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    right: 0;
    background-image: linear-gradient(0deg, transparent 50%, $borderColor 50%);
  }
}

@mixin border-top($borderColor: $defaultBorderColor) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    right: 0;
    transform: scale(1, 0.5);
    background: $borderColor;
  }
}
@mixin border-right($borderColor: $defaultBorderColor) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    right: 0;
    transform: scale(0.5, 1);
    background: $borderColor;
  }
}

@mixin border-left($borderColor: $defaultBorderColor) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    transform: scale(0.5, 1);
    background: $borderColor;
  }
}

@mixin mask-bg($index: $defaultZindex, $maskOpacity: $defaultMaskOpacity) {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $index;
  background: rgba(0, 0, 0, $maskOpacity);
  width: 100%;
}

@mixin fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin expand-click-range($defaultRange: 10) {
  position: relative;
  &::before {
    position: absolute;
    top: -$defaultRange + px;
    left: -$defaultRange + px;
    bottom: -$defaultRange + px;
    right: -$defaultRange + px;
    content: "";
  }
}

@mixin muilti-ellipsis($line: 2) {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin clear-fix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// absolute 宽高100%
@mixin ab-height {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

// 去除ios的点击态颜色
@mixin ios-tap-color($highligth-color: transparent) {
  -webkit-tap-highlight-color: $highligth-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  outline: none;
}
